{% extends 'main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} {% endblock title %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">ویرایش معلومات</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'list-course' 1 %}">لیست کورس ها</a></li>
                    <li class="breadcrumb-item"><a href="#">معلومات</a></li>
                    <li class="breadcrumb-item active">ویرایش معلومات</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% endblock page_title %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 border-left">
                        <h4 class="mt-3 mb-2">ویرایش معلومات</h4>
                        <hr>
                        
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col">
                                <label for="" class="font-size-20">عنوان</label>
                                {% render_field form.title class="form-control font-size-18" %}
                            </div>
                            <div class="col mt-2">
                                <label for="" class="font-size-20">توضیحات</label>
                                {% render_field form.text class="form-control font-size-16" %}
                            </div>
                            <div class="col mt-2">
                                <label for="" class="font-size-20">عکس</label>
                                {% render_field form.image type="file" class="form-control font-size-16" %}
                            </div>
                            <div class="col mt-2">
                                <label for="" class="font-size-20">ویدیو</label>
                                {% render_field form.video type="file" class="form-control font-size-16" %}
                            </div>
                            <div class="col mt-2">
                                <label for="" class="font-size-20">فایل</label>
                                {% render_field form.file type="file" class="form-control font-size-16" %}
                            </div>

                            <button class="btn btn-primary btn-md mt-2">ذخیره کردن</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}