{% extends 'main.html' %}

{% block title %}
    ثبت استاد جدید
{% endblock title %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18"> ثبت استاد جدید</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'department-list' %}">لیست دیپارتمنت ها</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'department-detail' department.slug %}">{{department.name}}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'department_instructors_list' department.slug %}">لیست استادان</a></li>
                    <li class="breadcrumb-item active"> ثبت استاد جدید</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">ثبت استاد جدید</h3>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="mt-4">مشخصات شخصی</h3>
                    <div class="row mt-4">
                        <div class="col-lg-3">
                            <label for="" class="font-size-17 ">آی دی استاد</label>
                            <input type="text" name="ins_id" class="form-control form-control-lg" placeholder="آی دی">
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17 ">نام</label>
                            <input type="text" name="f_name" class="form-control form-control-lg" placeholder="نام استاد">
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17 ">تخلص</label>
                            <input type="text" name="l_name" class="form-control form-control-lg" placeholder="تخلص استاد">
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17 ">نام پدر</label>
                            <input type="text" name="father_name" class="form-control form-control-lg" placeholder="نام پدر">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label for="" class="font-size-17 ">جنسیت</label>
                            <select name="gender" class="form-control form-control-lg" id="">
                                <option value="">جنسیت</option>
                                <option value="آقا">مرد</option>
                                <option value="خانم">زن</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17">تاریخ تولد</label>
                            <input type="date" name="dob" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17">شماره تماس</label>
                            <input type="text" name="phone_number" class="form-control form-control-lg" placeholder="شماره تماس فعال">
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17">آدرس</label>
                            <input type="text" name="address" class="form-control form-control-lg" placeholder="آدرس محل سکونت">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label for="" class="font-size-17">دیپارتمنت</label>
                            <input type="text" class="form-control form-control-lg" value="{{department.name}}" disabled>
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-17">گروه ها</label>
                            <select class="select2 form-control form-control-lg select2-multiple" name="groups" multiple="multiple" data-placeholder="انتخاب گروها">
                                <optgroup label="گروه ها">
                                    {% for g in groups %}
                                    <option value="{{g.name}}">{{g.name}}</option>
                                    {% endfor %}
                                </optgroup>
                                
                            </select>
                        </div>
                    </div>

                    <h4 class="mt-5 mb-2">مشخصات حساب استاد </h4>
                    <div class="row my-3">
                        <div class="col-lg-3">
                            <label for="" class="font-size-18">ایمیل آدرس</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="آدرس ایمیل" id="email" required>
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-18">نام کاربری</label>
                            <input type="text" name="username" class="form-control form-control-lg" placeholder="نام کاربری" id="En_username" required >
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-18">رمز ورود</label>
                            <input type="password" name="password" class="form-control form-control-lg" placeholder="رمز ورود" id="password1" required>
                        </div>
                        <div class="col-lg-3">
                            <label for="" class="font-size-18">ایمیل آدرس</label>
                            <input type="password" name="passwordConfirm" class="form-control form-control-lg" placeholder="تکرار رمز ورود" id="password2" required >
                        </div>
                    </div>

                    <button class="btn btn-primary btn-lg mt-3">ذخیره</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}