{% extends 'main.html' %}
{% load widget_tweaks %}
{% block title %} ایجاد کریکولم{% endblock title %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">ایجاد کریکولم جدید</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'subject-list' %}">لیست کریکولم</a></li>
                    <li class="breadcrumb-item active">کریکولم جدید</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% endblock page_title %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4>فورم ایجاد مضمون جدید</h4>
                {% if not obj %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">دیپارتمنت</label>
                            {% render_field form.department class="form-control" %}
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">نام مضمون</label>
                            {% render_field form.subject class="form-control" placeholder="اساسات کمپیوتر ساینس" %}
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">کود مضمون</label>
                            {% render_field form.code class="form-control" placeholder="CSF123" %}
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">مقدار کریدیت</label>
                            {% render_field form.credit class="form-control" type="number" %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">سمستر</label>
                            {% render_field form.semester class="form-control" %}
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">نوعیت مضمون</label>
                            {% render_field form.subject_type class="form-control" %}
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <label for="">توضیحات</label>
                            {% render_field form.description class="form-control" %}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">ذخیره کردن</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}