{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/validation/validationEmp.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/validation/vlidationStudent.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/validation/validationPro.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">

<link rel="stylesheet" href="{% static 'assets/datepicker/persian.datepicker.min.css' %}">
<link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link rel="stylesheet" href="{% static 'assets/css/calendar/main.css' %}">
<link href="{% static 'assets/libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'assets/css/app-rtl.min.css' %}" id="app-style" type="text/css">
<link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

