{% load static %}

<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>


<script src="{% static 'assets/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/persian-date-0.1.8.min.js' %}"></script>
<script src="{% static 'assets/js/persian-datepicker-0.4.5.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'assets/datepicker/persian.date.min.js' %}"></script>
<script src="{% static 'assets/datepicker/persian.datepicker.min.js' %}"></script>


<script src="{% static 'assets/js/calendar/main.js' %}"></script>
<script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>
<script src="{% static 'assets/libs/parsleyjs/parsley.min.js' %}"></script>

<script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>

<script src="{% static 'assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>

<script src="{% static 'assets/libs/twitter-bootstrap-wizard/prettify.js' %}"></script>

<!-- form wizard init -->
<script src="{% static 'assets/js/pages/form-wizard.init.js' %}"></script>

<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'assets/js/pages/datatables.init.js' %}"></script>
<script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>

<script src="{% static 'assets/libs/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/pages/chartjs.init.js' %}"></script> 

<!-- apexcharts -->
<script src="{% static 'assets/js/pages/crypto-dashboard.init.js' %}"></script>

<script src="{% static 'assets/libs/dropzone/min/dropzone.min.js' %}"></script>
<!-- apexcharts init -->
<script src="{% static 'assets/js/pages/apexcharts.init.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>




