{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                دانشگاه کابل فاکولته کمپیوتر ساینس
                ©
                <script>
                    document.write(new Date().getFullYear())</script> .
            </div>
            <!-- <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    برنامه نویس هادی علیزاده
                </div>
            </div> -->
        </div>
    </div>
</footer>