{% extends 'main.html' %}

{% block title %} دیپارتمنت {% endblock title %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">لیست دیپارتمنت ها</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item active">دیپارتمنت ها</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% endblock page_title %}

{% block content %}
<!-- create department modal -->
<div class="modal fade" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">مشخصات دیپارتمنت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" method="POST" action="{% url 'department-create' %}">
                    {% csrf_token %}
                    <div class="col">
                        <div class="form-group">
                            <label for="validationCustom01">نام دیپارتمنت</label>
                            <input type="text" class="form-control form-control-lg" name="dep_name" id="validationCustom01" placeholder="سیستم های معلوماتی" required>
                            <div class="valid-feedback">
                                معلومات درست است!
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="validationCustom02">تاریخ تاسیس</label>
                            <input type="date" name="dep_publish" class="form-control form-control-lg" id="validationCustom02" required>
                            <div class="valid-feedback">
                                معلومات درست است!
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-group">
                            <label for="validationCustom04">توضیحات</label>
                            <textarea name="dep_about" id="" class="form-control form-control-lg" cols="30" rows="6" placeholder="در مورد دیپارتمنت..."></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">ذخیره کردن</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end of department modal -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                            {% if perms.departments.add_department or request.user.is_staff %}
                            <button
                            data-toggle="modal"
                            data-target="#create_modal" 
                            class="btn btn-primary btn-md font-size-20 mb-4">دیپارتمنت جدید <i class="bx bx-plus align-middle font-size-22 ml-2"></i> </button>
                            {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% for department in departments %}
                    <div class="col-lg-6">
                        <div class="card border border-light shadow-sm">
                            <div class="card-header bg-transparent border-light">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="my-0 text-secondary font-size-20"><i class="mdi mdi-check-all mr-3"></i>
                                            {{department.name}}
                                        </h5>   
                                    </div>
                                    <div class="col-lg-4">
                                        <h6 class="text-secondary">سال تاسیس <span class=" badge badge-light text-muted ml-4 font-size-14">{{department.publish_date|date:"Y"}}</span> </h6>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="dropdown ml-auto">
                                            <a class="text-muted dropdown-toggle font-size-16" role="button" data-toggle="dropdown" aria-haspopup="true">
                                                <i class="mdi mdi-dots-horizontal"></i>
                                            </a>
                                          
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="">ویرایش</a>
                                                <a class="dropdown-item" href="#"> حذف</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <h5 class="card-title mt-0"> رییس دیپارتمنت <span class="text-muted">&nbsp; &nbsp; 
                                    {{department.loan.employee.f_name}} - {{department.loan.employee.l_name}} </span> </h5>
                                <p class=" font-size-16" style="letter-spacing: 1.0px;">
                                    {{department.about|truncatechars:150}}    
                                </p>
                            
                                <div class="row mb-3">
                                    <div class="col-lg-4">
                                        <span class="text-primary">تعداد اعضا</span><span class="badge badge-light mx-2 font-size-16">{{department.department.all.count}}</span>
                                    </div>
                                    <div class="col-lg-5">
                                        <span class="text-primary">تعداد شاگردان فعلی</span> <span class="badge badge-light mx-2 font-size-16">{{department.student_set.all.count}}</span>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="text-primary">مضامین</span>
                                        <span class="mx-2 badge badge-light font-size-16">{{department.subject_set.all.count}}</span>
                                    </div>
                                    
                                </div>
                            <a href="{% url 'department-detail' department.slug %}" class="btn btn-light btn-block btn-md font-size-16">جزییات دیپارتمنت</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p class="alert alert-info text-center font-size-18">دیپارتمنت هنوز ایجاد نشده است</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}