{% extends 'main.html' %}

{% block title %}
    جزییات کورس
{% endblock title %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{{course.title}}</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'department-list' %}">لیست دیپارتمنت ها</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'department-detail' course.subject.department.slug %}">{{course.subject.department.name}}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'department_courses' course.subject.department.slug %}">لیست کورس ها</a></li>
                    <li class="breadcrumb-item active"> {{course.title}}</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% endblock page_title %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">کورس {{course.title}}</h3>
                    <p class="mt-1 text-muted" style="margin: 0; padding:0">
                        <b>استاد : </b> {{course.owner.employee.f_name}} {{course.owner.employee.l_name}}
                    </p>
                    <p class="text-muted" style="margin: 0; padding:0">
                        <b>دوره تحصیلی : </b> {{course.session.session_type}} - {{course.session.session|date:"Y"}}
                    </p>

                    <div class="row mt-4">
                        <h3 style="font-weight: bold;">لیست شاگردان</h3>

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center font-size-18">آی دی کانکور</th>
                                    <th class="text-center font-size-18">نام</th>
                                    <th class="text-center font-size-18">تخلص</th>
                                    <th class="text-center font-size-18">نام پدر</th>
                                    <th class="text-center font-size-18">سمستر</th>
                                    <th class="text-center font-size-18">وضعیت</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for student in course.students.all %}
                                    <tr>
                                        <td class="text-center font-size-17">{{student.kankor_id}}</td>
                                        <td class="text-center font-size-17">
                                            <a href="">
                                                <img src="{{student.avatar.url}}" class="avatar avatar-sm rounded-circle" alt="">
                                                <span class="ml-3 font-size-16">{{student.f_name}}</span>
                                            </a>
                                        </td>
                                        <td class="text-center font-size-17">{{student.l_name}}</td>
                                        <td class="text-center font-size-17">{{student.father_name}}</td>
                                        <td class="text-center font-size-17">{{student.semester.semester_name}}</td>
                                        <td class="text-center font-size-17">{{student.status}}</td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}